/*Reset*/

* {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}


/*reset end*/

body {
  line-height: 1;
  color: black;
  background: white;
}

#wrapper {
  margin: 0 auto;
  width: 96%;
  max-width: 1441px;
}

img {
  max-width: 100%;
}

header {
  background: url(../img/buntingSlice3.png)repeat-x;
  /*margin:0 10px;*/
  width: 97.9166%;
}

#logo h1 {
  display: block;
  padding-top: 7.8125%;
  color: #0d0c0c;
  text-transform: uppercase;
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  font-size: 48px;
}

#logo span {
  color: #dfdada;
}

nav {
  padding-bottom: 2.6041%;
  margin-top: 2.7083%;
  padding-right: 1.0416%;
  padding-left: 1.0416%;
  /*padding: 0 10px 25px 10px;*/
  width: 97.9166%;
  background-repeat: repeat-x;
  background-image: url(../img/atwiNavBg.png);
  border-bottom: 4px double #bfbfbf;
}

nav ul li {
  display: inline;
}

nav ul li a {
  height: 42px;
  line-height: 42px;
  margin-right: 2.0833%;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  font-size: 27px;
  color: black;
}

#content {
  margin-top: 6.0416%;
  margin-right: 1.0416%;
  float: right;
  width: 72.708%;
}

.oscarMain {
  float: left;
  margin-top: -2.9166%;
  width: 28.9398%;
  max-width: 202px;
}

#content h1 {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 69px;
}

#content h1 span {
  display: block;
  line-height: 40px;
  color: #757474;
  font-size: 38px;
}

#content p {
  line-height: 40px;
  color: #757474;
  font-size: 24px;
}

aside {
  border-right: 2px solid #e8e8e8;
  margin: 0.0604% 2.0833% 0 1.04166%;
  float: left;
  width: 22.708%;
}

aside h4 {
  margin-bottom: 2.0833%;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.overHyped {
  margin-top: 2.8125%;
}

.sideBlock img {
  max-width: 45%;
}

footer {
  float: left;
  margin: 2.0833% 1.0416% 0 1.0416%;
  padding: 3.4375% 0 4.4791%;
  /*background-position: 0 bottom;
background-repeat: repeat-x;
background-image: url(../img/buntingSlice3Invert.png);*/
  background: url(../img/buntingSlice3Invert.png) repeat-x 0 bottom;
  width: 97.9166%;
  border-top: 4px double #bfbfbf;
  clear: both;
}

footer p {
  margin-bottom: 3.9583%;
  text-align: center;
  font-size: 13px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  text-transform: uppercase;
  color: #757474;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1001px) and (max-width: 1080px) {
  #navigation ul li a { 
    font-size: 1.4em;
    }
  }

@media screen and (min-width: 805px) and (max-width: 1000px) {
  #navigation ul li a { 
    font-size: 1.25em; 
    }
  }

@media screen and (min-width: 769px) and (max-width: 804px) {
  #navigation ul li a { 
    font-size: 1.1em;
    }
  }

@media screen and (max-width:460px) {
    #content {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    float: none;
    text-align: center;
    }
    .oscarMain {
      float: none;
    }
    aside {
      border-right: none;
      margin: 0 auto;
      float: none;
      width: 72.708%;
    }
  }

@media screen and (max-width:560px) {
    #content h1 {
      font-size: 3em;
    }
    .sideBlock img {
      max-width: 48%;
    }
  }