/*reset*/

* {
	margin: 0;
	padding: 0;
}

body {
	/*font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
	line-height: 1.5;*/
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	/*background-color: #f4f4f4;*/
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}


/*Header*/

header {
	background-color: #35424a;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header span {
	color: #e8491d;
}

header #logo {
	float: left;
}

header nav {
	float: right;
	margin-top: 10px;
}

header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header li {
	float: left;
}

header a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	padding: 0 20px;
	display: block;
}

header li a:hover:not(.active) {
	color: #ccc;
}

header .active {
	color: #e8491d;
}


/*showcase*/

#showcase {
	min-height: 500px;
	background: url(../images/convincer.jpg)no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
}

#showcase h2 {
	margin-top: 120px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p {
	font-size: 20px;
}


/***newsletter***/

#newsletter {
	padding: 15px;
	color: #fff;
	background-color: #35424a;
}

#newsletter h2 {
	float: left;
}

#newsletter form {
	float: right;
	/*margin-top: 15px;*/
}

#newsletter input[type="email"] {
	padding: 4px;
	height: 25px;
	width: 250px;
}

.button_1 {
	height: 35px;
	background-color: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
}


/***boxes***/

#boxes {
	margin-top: 20px;
}

#boxes .box {
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}

#boxes .box img {
	width: 130px;
}

footer {
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background-color: #e8491d;
	text-align: center;
}


/****about***/

#sidebar {
	float: right;
	width: 30%;
	margin-top: 10px;
	text-align: justify;
}

#main-col {
	float: left;
	width: 62%;
	margin-top: 20px;
	text-align: justify;
}

ul#services li {
	padding: 20px;
	border: #ccc solid 1px;
	margin-bottom: 5px;
	background-color: #e6e6e6;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
	width: 90%;
	padding: 5px;
}


/***Media queries***/


/* **************** 960px************************** */

@media screen and (max-width: 960px) {
	#newsletter h2 {
		float: left;
		font-size: 17px;
		margin-top: 15px;
	}
	#newsletter input[type="email"] {
		padding: 4px;
		height: 15px;
		width: 250px;
		display: block;
	}
	.button_1 {
		width: 100%;
		height: 27px;
		background-color: #e8491d;
		border: 0;
		padding-left: 20px;
		padding-right: 20px;
		color: #fff;
	}
	#showcase h2 {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	}

	#showcase p {
	/* color: #e8491d; */
	font-weight: bolder;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	}
}


/* ******************** END 960px ******************* */


/* ***********************768px************************* */

@media screen and (max-width: 768px) {
	/***header***/
	header {
		background-color: #35424a;
		color: #fff;
		padding-top: 30px;
		min-height: 150px;
		border-bottom: #e8491d 3px solid;
	}
	.container span {
		color: #e8491d;
	}
	.container #logo {
		float: none;
		display: block;
		text-align: center;
		width: 100%;
	}
	.container nav {
		float: none;
		display: block;
		width: 100%;
		margin-top: 10px;
		min-height: 100px;
	}
	.container ul {
		min-height: 100px;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.container li {
		float: none;
		display: block;
		text-align: center;
	}
	.container a {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 16px;
		/* padding: 0 20px; */
		display: block;
		float: none;
		text-align: center;
	}
	.container li a:hover:not(.active) {
		color: #ccc;
	}
	.container .active {
		color: #e8491d;
	}

	/***newsletter***/
	#newsletter {
		padding: 15px;
		color: #fff;
		background-color: #35424a;
	}
	#newsletter h2 {
		float: none;
		text-align: center;
		font-size: 20px;
	}
	#newsletter form {
		float: none;
		text-align: center;
	}
	#newsletter input[type="email"] {
		padding: 4px;
		height: 25px;
		width: 100%;
	}
	.button_1 {
		height: 35px;
		background-color: #e8491d;
		border: 0;
		padding-left: 20px;
		padding-right: 20px;
		color: #fff;
	}

	/***boxes***/
	#boxes {
		margin-top: 20px;
	}
	#boxes .box {
		width: 100%;
		padding: 10px;
		text-align: center;
	}
	#boxes .box img {
		width: 130px;
	}
}

/* ***********************END 768px************************* */