footer {
    width: 100%;
    max-height: 40px;
    background-color: $footer-color;
    bottom: 0px;
}

#footer {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    margin-top: 40px;
    bottom: 0px;
    height: 40px;
    img {
        height: 25px;
        padding: 0px 5px;
        transform: translateY(20%);
    
    }
}



.copyright p {
    float: left;
    margin-top: 10px;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 0.9em;
    color: white;
}

.social {
    float: right;
    margin-top: 3px;
}