.logo {
    height: 40px;
    float: left;
    margin-left: 20px;
    margin-top: 6px;
    margin-right: 100px;
}

header {
    background-color: $header-color;
    position: fixed;
    top: 0px;
    z-index: 5;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    box-shadow: 0px 2px 5px #888888;
}

.links {
    float: left;
    padding: 15px;
    margin-left: 300px;
    list-style-type: none;
    a {
        text-decoration: none;
        color: #666666;
        padding: 10px;
        margin: 0px 20px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        &:hover {
            border-bottom: 3px solid darkgray;
            transition: 400ms;
        }
    }
}

.search {
    float: left;
    padding: 15px 0px 15px 0px;
    input {
        background: url(../img/icon-ios7-search-strong-128-mini.png) no-repeat;
        width: 100px;
        height: 20px;
        padding-left: 25px;
        overflow: hidden;
        transition: width 350ms ease-in-out;
        border: 2px solid darkgray;
        border-radius: 10px;
       &:focus {
            background-color: lightgray;
            font-family: "Open Sans", sans-serif;
            width: 500px;
            position: absolute;
            margin-top: 43px;
            right: 400px;
            transition: 1000ms;
        }
    }
}

.magnifier {
    float: left;
    height: 20px;
    padding: 15px 0px 15px 10px;
    /*    margin-left: 10px;*/
    margin-right: 5px;
}