#useful-links {
    background: url(../img/links.svg) no-repeat;
    width: 330px;
    height: 400px;
    position: absolute;
    top: 250px;
    left: -300px;
    &:hover {
        left: 0px;
        transition: 800ms;
    }
}

.u-links a {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: black;
    border-left: 50px solid #0099cc;
    font-size: 1.1em;
    &:hover {
        color: darkgray;
    }
}



