html {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: cursive;
    text-align: center;
    font-size: 2em;
    background-color: bisque;
}

h2 {
    color: red;
    background-color: azure;
    font-style: italic;
}

body {
    background-image: url(../images/background-10.jpg);
}

p {
    font-size: 16px;
    font-family: arial, helvetica, sans-serif;
}

#contact {
    color: red;
    font: 14px italic sans-serif;

}

img {
    margin: auto;
    display: block;
}

.details {
    background-color: darkgoldenrod;
    margin: 0px 20px 0px 20px;
}

a {
    float: right;
    padding: 3px;
    background-color: dimgray;
    border-width: 0px;
    color: white;
    border-color: black;
    text-decoration: none;
    box-shadow: 3px 3px 5px grey;
    }

a:hover {
    background-color: yellow;
}
