
h1 {
    position: absolute;
    left: 200px;
    top: 300px;
    font-size: 6em;
    font-family: 'Saira Semi Condensed', sans-serif;
    color: white;
    @include text-shadow;
}

h2 {
    position: absolute;
    left: 285px;
    top: 450px;
    font-size: 3em;
    font-family: 'Saira Semi Condensed', sans-serif;
    color: white;
    @include text-shadow;
}

.bio-text p {
    float: left;
    width: 300px;
    padding: 25px;
    border-left: 5px solid darkgray;  
    font-family: 'Crimson Text', serif;
    font-size: 1.2em;
    font-style: italic;
    text-align: justify;
    hyphens: auto;
}