@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i');

@import "helpers/mixins";

@import "base/variables";
@import "base/typography";

@import "pages/home";
@import "pages/gallery";
@import "pages/contact";
@import "pages/about";

@import "components/buttons";

@import "layout/header";
@import "layout/sidebar";
@import "layout/footer";

html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
}