html{
	margin:0;
	padding:0;
}

h1{
    font-family: cursive;
    text-align: center;
    font-size: 2em;
    background-color: bisque;
    padding: 30px;
    margin-top: 0px;
   
}

h2{
    color: red;
    background-color: azure;
    font-style: italic;
}

body{
    background-image: url("../images/background-10.jpg");
}

a:link{
    
    text-decoration: none;
    padding: 5px;
   
    /*
    border-style: solid;
    */
    font-family: sans-serif;
}

a:hover{
    
    background-color:aqua;
    padding: 5px;
}

p{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
}

#img1{
     text-align: center;
   
}
#contact{
    font: italic 14px sans-serif;
    color:red;
    
}

/* this is addition for layouts */

.details{
    margin: 0 10px 0 10px;
    /*width: 100%;*/
    /* ako se uvede height: 330px; to moze da pomeri kolonu u novi red pa zato moramo smanjiti width u kolonama na 25%*/
    height: 100%;
    
}


.service {
   /* position:relative; ne igra nikakvu ulogu */
    background-color: #ddf;
    float: left;
    width:25%;
    height:100%;
    padding: 5px;
}
.quality {

    background-color: #dfd;
    float: left;
    width:25%;
    height:100%;
    padding: 5px;
}
.value {
    background-color: #fdd;
    float: left;
    width:25%;
    height:100%;
    padding: 5px;
}

/* ako se ovo iskljuci pomeraju se sve u levo */
.clear{
    clear: both;
}

/* Finish appereance*/
#header{
    position: relative;
    top: 0px;
    left: 0px;
    /*width: 100%;*/
}

#logo{
    position: relative;
    float: left;
    margin: 0px;
    top: 0px;
    left: 0px;

    
}

#title{
    position: absolute;
    float: left;
    left: 222px;
    top: 0px;
    
}

.menu{
    background-color: coral;
    /*width: 100%;*/
    padding: 5px;
    
}