/*---------- variables
-----------------------------------------------------------*/
// Font
$font-main: sans-serif;
$font-sec: serif;

// Colors
$black: #000;
$white: #fff;
$gray: #3F4449;

// Durations
$fastDuration: .3s;
$mediumDuration: .7s;
$slowDuration: 2s;
