/*----------  base
------------------------------------------------------------------------------*/

@import "base/reset";
@import "base/variables";
@import "base/colors";
@import "base/typography";

/*----------  helpers
------------------------------------------------------------------------------*/

@import "helpers/mixins";
@import "helpers/functions";

/*----------  components
------------------------------------------------------------------------------*/

@import "components/cover";
@import "components/icons";
@import "components/buttons";
@import "components/carousel";
@import "components/dropdown";
@import "components/navigation";

/*----------  libs
------------------------------------------------------------------------------*/


/*----------  layout
------------------------------------------------------------------------------*/

@import "layout/forms";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/grid";

/*----------  pages
------------------------------------------------------------------------------*/


/*----------  themes
------------------------------------------------------------------------------*/


/*----------  vendors
------------------------------------------------------------------------------*/

body {
    background-color: $backgroundColor;
}

@media screen and (max-width:960px) {
    body {
        background-color: $backgroundColor2;
    }
}

@media screen and (max-width:768px) {
    body {
        background-color: $backgroundColor3;
    }
}

@media screen and (max-width:550px) {
    body {
        background-color: $backgroundColor4;
    }
}

@media screen and (max-width:320px) {
    body {
        background-color: $backgroundColor5;
    }
}