body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

html {
    -webkit-font-smoothing: antialiased
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    color: #222
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4
}

::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #000;
    color: #fff;
    text-shadow: none
}

a {
    text-decoration: none
}

a:focus,
a:hover,
a:active {
    outline: none
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

blockquote {
    margin: 0
}

dfn {
    font-style: italic
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none
}

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: none
}

q:before,
q:after {
    content: "";
    content: none
}

small {
    font-size: 85%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

nav ul,
nav ol,
ul,
li {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

form {
    margin: 0
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

label {
    cursor: pointer
}

legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button,
input {
    line-height: normal
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible
}

button[disabled],
input[disabled] {
    cursor: default
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical
}

input:invalid,
textarea:invalid {
    background-color: #f0dddd
}

input,
textarea,
select {
    outline: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td {
    vertical-align: top
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 55px
}

h2 {
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    padding: 25px 0
}

h3 {
    font-weight: 300;
    font-size: 22px;
    line-height: 20px
}

h4 {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 15px
}

h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px
}

h6 {
    font-size: 20px;
    line-height: 30px;
    padding: 13px 0 21px 0;
    max-width: 466px;
    margin: 0 auto 3px auto
}

p {
    font-weight: 300;
    font-size: 13.5px;
    line-height: 13.5px
}

a {
    color: #000;
    text-decoration: none
}

i {
    -moz-transition-duration: .7s;
    -o-transition-duration: .7s;
    -webkit-transition-duration: .7s;
    transition-duration: .7s
}

.controls-wrapper {
    padding: 15px 0 15px 0
}

.controls-wrapper .controls {
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    padding: 13px 20px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    background: #3F4449;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
    -moz-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    -webkit-transition: all .7s ease-out;
    transition: all .7s ease-out
}

.controls-wrapper .controls:hover {
    background: #000
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

body {
    font-family: sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #fff
}

.main-grid {
    max-width: 1200px;
    min-width: 260px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px
}

.main-grid:after {
    content: "";
    display: table;
    clear: both
}

.main-grid .col-two {
    float: left;
    text-align: center;
    position: relative;
    width: 48%;
    margin-right: 4%;
    padding: 5px 0
}

.main-grid .col-two:last-of-type {
    margin-right: 0
}

.main-grid .col-three {
    float: left;
    text-align: center;
    position: relative;
    width: 32%;
    margin-right: 2%;
    padding: 5px 0
}

.main-grid .col-three:last-of-type {
    margin-right: 0
}

.main-grid .col-four {
    float: left;
    text-align: center;
    position: relative;
    width: 24%;
    margin-right: 1.2%
}

.main-grid .col-four:last-of-type {
    margin: 0
}

.header {
    background: #3F4449;
    width: 100%
}

.header .header-top {
    background: chocolate
}

.header .nav-bar ul {
    padding: 14px 14px 14px 0
}

.header .nav-bar ul a {
    padding: 15px;
    color: #fff;
    line-height: 15px;
    -moz-transition-duration: .7s;
    -o-transition-duration: .7s;
    -webkit-transition-duration: .7s;
    transition-duration: .7s
}

.header .nav-bar ul a:hover {
    color: #000;
    background-color: #fff
}

.footer {
    clear: both;
    text-align: center
}

#slides {
    margin: 0 auto;
    position: relative;
    list-style-type: none
}

#slides .slide {
    position: absolute;
    color: #fff;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    -webkit-transition-duration: 2s;
    transition-duration: 2s
}

#slides .slide img {
    position: relative;
    cursor: pointer;
    -moz-transition-duration: .7s;
    -o-transition-duration: .7s;
    -webkit-transition-duration: .7s;
    transition-duration: .7s
}

#slides .slide .caption {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    background: #3F4449;
    width: 100%
}

#slides .slide .caption h3,
#slides .slide .caption p {
    padding: 5px
}

#slides .slide:hover img {
    opacity: .9
}

#slides .slide:hover .caption {
    opacity: .9
}

#slides .showing {
    opacity: 1;
    z-index: 2
}

/* MY STYLES */

.mojNaslov {
    background-color: orange;
    padding: 10px;
}

.indexPage {
    background-color: darkgray;
    display: block;
    margin: -20px 0;
    padding: 10px;
}

.contactPage {
    display: block;
    background-color: darkgray;
    padding: 10px;
}

.galleryPage {
    display: block;
    background-color: darkgray;
    margin: -20px 0;
    padding: 10px;
    margin-bottom: 30px;

}

#forma, .naslovForme {
    margin: 10px 0 0 10px;
}


/* SLIDER STYLES */

.buttonBlock {
    display: block;
    text-align: center;
}

.slider {
    width: 800px;
    margin: 0 auto;

}

.slider-wrapper {
    margin-bottom: 50px;
    width: 800px;
    height: 600px;
    position: relative;
}

.slide {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 500ms linear;
}

.slider-wrapper > .slide:first-child {
    opacity: 1;
}

.naslovGalerija{
    margin-left: 10px;
}