.f-submit {
    width: 80px;
    padding: 7px;
    background-color: $button-color;
    color: white;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.f-reset {
    width: 80px;
    padding: 7px;
    background-color: $button-color;
    color: white;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}