html {
    margin: 0px;
    padding: 0px;
}

table,
td,
tr {
    padding: 3px;
    font-family: sans-serif;
    border: 1px solid black;
    font-size: 0.9em;
}

thead {
    background-color: #808080;
    font-size: 1em;
    height: 30px;
}

tfoot {
    background-color: #807000;
    font-size: 1em;
}

.center {
    text-align: center;
}

.headColor {
    background-color: orange;
    font-weight: bold;
}

.italicStyle {
    font-style: italic;
    text-align: center;
}

.onlyEm {
    font-style: italic;
}

.inTotal {
    background-color: #00FF00;
    font-style: italic;
    font-weight: bold;
}

/*
.row1 {
    background-color:bisque;

}
*/

tbody tr:nth-child(even) {
    background-color: bisque;
}

#home {
    font-family: cursive;
    background-color: skyblue;
    margin: 0px 600px 10px 10px;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
}
