.bio {
    margin-top: 150px;
}
.bio-text {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin: 10px 300px 0 500px;
}

.my-photo {
    position: absolute;
    padding: 5px;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 200px;
    border: 1px dotted darkgray;
    border-radius: 10%;
    box-shadow: 0px 5px 5px #888888;
    img {
        position: relative;
        display: block;
        width: 200px;
        height: 200px;
        border: 1px dotted darkgray;
        border-radius: 10%;
    }
}
