fieldset {
    display: block;
    width: 80%;
    padding: 25px;
    margin: 100px auto;
    background-color: #f1f1f1;
    background: url(../img/800px_COLOURBOX3334935.jpg) no-repeat center right;
    border: 2px solid #0099cc;
    border-radius: 15px;
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

legend {
    text-align: center;
    font-size: 1.2em;
    color: #666666;
}

.f-input {
    border-radius: 1px;
    border: 2px solid darkgray;
    &:focus {
        background-color: lightgray;
        font-family: "Open Sans", sans-serif;
        width: 300px;
        transition: 1000ms;
    }
}

textarea {
    width: 30%;
    height: 100px;
    border-radius: 8px;
    border: 2px solid darkgray;
    &:focus {
        background-color: lightgray;
        width: 40%;
        transition: 1000ms;
    }
}


