#container {
    position: relative;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 50px;
    img {
        position: relative;
        width: 30%;
        float: left;
        margin: 5px;
        padding: 5px;
        border: 2px dotted darkgrey;
        background-color: white;
        /*    border-radius: 20px;*/
        box-shadow: 0px 5px 5px #888888;
        &:hover {
            opacity: .7;
        }
    }
}



