#wrapper{
    width: 400px;
    margin: 0 auto;
}

#slider{
    width: 400px;
    height: 300px;
    overflow: hidden;
    margin: 30px auto;
}

#slider img{
    width: 400px;
    height: 300px;
    float: left;
    display: none;
}

#slider img:hover{
opacity: 0.8;
}

a{
  padding: 5px 10px;
  background-color: gray;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  text-decoration: none;  
}

.left{
    float: left;
}

.playPause {
    float: left;
    margin-left: 3px;
}

.right{
    float: right;
}