.controls-wrapper {
    padding: 15px 0 15px 0;
    .controls {
        font-size: 13px;
        font-weight: 700;
        line-height: 40px;
        padding: 13px 20px;
        color: $white;
        text-transform: uppercase;
        white-space: nowrap;
        background: $gray;
        cursor: pointer;
        letter-spacing: 1px;
        outline: none;
        @include transition(all $mediumDuration ease-out);
        &:hover {
            background: darken($gray, 50%);
        }
    }
}