/*---------- layout
-----------------------------------------------------------*/
html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $font-main;
    font-size: 14px;
    color: $black;
    background-color: $white;

    @include breakpoint(tablet) {
    }
    @include breakpoint(phone) {
    }
}

.main-grid {
    max-width: 1200px;
    min-width: 260px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .col-two {
        float: left;
        text-align: center;
        position: relative;
        width: 48%;
        margin-right: 4%;
        padding: 5px 0;

        &:last-of-type {
            margin-right: 0;
        }
    }
    .col-three {
        float: left;
        text-align: center;
        position: relative;
        width: 32%;
        margin-right: 2%;
        padding: 5px 0;

        &:last-of-type {
            margin-right: 0;
        }
    }
    .col-four {
        float: left;
        text-align: center;
        position: relative;
        width: 24%;
        margin-right: 1.2%;

        &:last-of-type {
            margin: 0;
        }
    }

    @include breakpoint(tablet) {
    }
    @include breakpoint(phone) {
    }
}




























