@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400i");
h1 {
  position: absolute;
  left: 200px;
  top: 300px;
  font-size: 6em;
  font-family: 'Saira Semi Condensed', sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2 {
  position: absolute;
  left: 285px;
  top: 450px;
  font-size: 3em;
  font-family: 'Saira Semi Condensed', sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.bio-text p {
  float: left;
  width: 300px;
  padding: 25px;
  border-left: 5px solid darkgray;
  font-family: 'Crimson Text', serif;
  font-size: 1.2em;
  font-style: italic;
  text-align: justify;
  hyphens: auto;
}

.main-image {
  display: block;
  margin: auto;
  width: 100%;
  margin-top: 90px;
  /*    margin-bottom: 40px;*/
}

#container {
  position: relative;
  margin-top: 60px;
  margin-bottom: 80px;
  margin-left: 50px;
}

#container img {
  position: relative;
  width: 30%;
  float: left;
  margin: 5px;
  padding: 5px;
  border: 2px dotted darkgrey;
  background-color: white;
  /*    border-radius: 20px;*/
  box-shadow: 0px 5px 5px #888888;
}

#container img:hover {
  opacity: .7;
}

fieldset {
  display: block;
  width: 80%;
  padding: 25px;
  margin: 100px auto;
  background-color: #f1f1f1;
  background: url(../img/800px_COLOURBOX3334935.jpg) no-repeat center right;
  border: 2px solid #0099cc;
  border-radius: 15px;
  font-size: 0.9em;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

legend {
  text-align: center;
  font-size: 1.2em;
  color: #666666;
}

.f-input {
  border-radius: 1px;
  border: 2px solid darkgray;
}

.f-input:focus {
  background-color: lightgray;
  font-family: "Open Sans", sans-serif;
  width: 300px;
  transition: 1000ms;
}

textarea {
  width: 30%;
  height: 100px;
  border-radius: 8px;
  border: 2px solid darkgray;
}

textarea:focus {
  background-color: lightgray;
  width: 40%;
  transition: 1000ms;
}

.bio {
  margin-top: 150px;
}

.bio-text {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  margin: 10px 300px 0 500px;
}

.my-photo {
  position: absolute;
  padding: 5px;
  width: 200px;
  height: 200px;
  left: 100px;
  top: 200px;
  border: 1px dotted darkgray;
  border-radius: 10%;
  box-shadow: 0px 5px 5px #888888;
}

.my-photo img {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  border: 1px dotted darkgray;
  border-radius: 10%;
}

.f-submit {
  width: 80px;
  padding: 7px;
  background-color: #0099cc;
  color: white;
  border-radius: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.f-reset {
  width: 80px;
  padding: 7px;
  background-color: #0099cc;
  color: white;
  border-radius: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.logo {
  height: 40px;
  float: left;
  margin-left: 20px;
  margin-top: 6px;
  margin-right: 100px;
}

header {
  background-color: #f1f1f1;
  position: fixed;
  top: 0px;
  z-index: 5;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 100%;
  box-shadow: 0px 2px 5px #888888;
}

.links {
  float: left;
  padding: 15px;
  margin-left: 300px;
  list-style-type: none;
}

.links a {
  text-decoration: none;
  color: #666666;
  padding: 10px;
  margin: 0px 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.links a:hover {
  border-bottom: 3px solid darkgray;
  transition: 400ms;
}

.search {
  float: left;
  padding: 15px 0px 15px 0px;
}

.search input {
  background: url(../img/icon-ios7-search-strong-128-mini.png) no-repeat;
  width: 100px;
  height: 20px;
  padding-left: 25px;
  overflow: hidden;
  transition: width 350ms ease-in-out;
  border: 2px solid darkgray;
  border-radius: 10px;
}

.search input:focus {
  background-color: lightgray;
  font-family: "Open Sans", sans-serif;
  width: 500px;
  position: absolute;
  margin-top: 43px;
  right: 400px;
  transition: 1000ms;
}

.magnifier {
  float: left;
  height: 20px;
  padding: 15px 0px 15px 10px;
  /*    margin-left: 10px;*/
  margin-right: 5px;
}

#useful-links {
  background: url(../img/links.svg) no-repeat;
  width: 330px;
  height: 400px;
  position: absolute;
  top: 250px;
  left: -300px;
}

#useful-links:hover {
  left: 0px;
  transition: 800ms;
}

.u-links a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 0px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: black;
  border-left: 50px solid #0099cc;
  font-size: 1.1em;
}

.u-links a:hover {
  color: darkgray;
}

footer {
  width: 100%;
  max-height: 40px;
  background-color: darkgray;
  bottom: 0px;
}

#footer {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  margin-top: 40px;
  bottom: 0px;
  height: 40px;
}

#footer img {
  height: 25px;
  padding: 0px 5px;
  transform: translateY(20%);
}

.copyright p {
  float: left;
  margin-top: 10px;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 0.9em;
  color: white;
}

.social {
  float: right;
  margin-top: 3px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
}
 

 /*# sourceMappingURL= style.css.map */