/*----------  base
------------------------------------------------------------------------------*/
/*----------  helpers
------------------------------------------------------------------------------*/
/*----------  components
------------------------------------------------------------------------------*/
/*----------  libs
------------------------------------------------------------------------------*/
/*----------  layout
------------------------------------------------------------------------------*/
/*----------  pages
------------------------------------------------------------------------------*/
/*----------  themes
------------------------------------------------------------------------------*/
/*----------  vendors
------------------------------------------------------------------------------*/
body {
  background-color: grey;
}

@media screen and (max-width: 960px) {
  body {
    background-color: red;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: orange;
  }
}

@media screen and (max-width: 550px) {
  body {
    background-color: yellow;
  }
}

@media screen and (max-width: 320px) {
  body {
    background-color: green;
  }
}
/*# sourceMappingURL=style.css.map */